.select-account {
  border-radius: 24px !important;
  background-color: rgb(230, 239, 255) !important;
  border-color: transparent !important;
}

.amount {
 border-bottom: 1px solid rgb(230, 239, 255);
}

input[type="range"] {
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 8px;
  background-color: #ffe4d6;
  accent-color: #ff6619;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 16px;
  width: 16px;
  background-color: #ff6619;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: #ff6619;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}
